@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    margin: 0;
    /*padding: */
}

header {
    background-image: url("huntington.png");
    background-size: cover;
    padding: 40px;

}
h1 {
    font-family:'Roboto', sans-serif;
    text-align: center;
    color: whitesmoke;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 4px 4px black;

}

h2 {
    background-image: url("zen.svg");
    background-position: calc(50% - 100px) 50%;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Satisfy', cursive;
    font-style: italic;
    text-align: center;
    color: lightgray;
    font-size: 15px;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 70%;
    color: #325050;
    padding: 0px 10px 0px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    padding: 0px 10px 0px;
}

a {
    text-decoration: none;
    color: rgb(29, 58, 32, 0.4);

}

div.participation, div.benefits {
    background-color: rgba(138,188,159,0.5);
    background-image: url("bamboo.png");
    background-size: contain;
    padding: 10px 10px;
  
}

.participation > p, .benefits > p {
    color: white;
}

p[role="contentinfo"] {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 100%;
    color: grey;
    background-image: url("koi.jpg");
    padding-bottom: 32px;
    padding-top: 32px;
    width: auto;
    text-align: center;
}

a[href="http://www.mezzoblue.com/"] {
    font-family: 'Satisfy' cursive;
    color: lightgray;
    text-decoration: none; 
}

a[href="http://www.mediatemple.net/"] {
    font-family: 'Satisfy', cursive;
    color: lightgray;
    text-decoration: none; 
}

a[href="http://www.amazon.com/exec/obidos/ASIN/0321303474/mezzoblue-20/"]{
    font-family: 'Satisfy', cursive;
    color: lightgray;
    text-decoration: none; 
}

footer {
    text-align: center;
    background-color:#134347;
    padding: 10px 10% 10px 10%;
    height: 10%;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-size: 250%;
}

footer a {
    width: 40px;
    height: 40px;
    padding: 40px;
    color:grey;
}

footer a:visited {
    color: rgba(78, 121, 95, 0.5);
}

aside.sidebar {
    font-family: 'Roboto', sans-serif;
    display: flex;
    font-size: 70%;
    color: rgba(29, 58, 32, 0.4);
    width: 100%;
}
 
a.design-name{
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(29, 58, 32, 0.4)
}

a.designer-name {
    text-decoration: none;
    color:rgba(7, 20, 9, 0.4)
}

a.visited {
    color: #1a5952;
}

.design-archives, .zen-resources{
    text-transform: uppercase;
}

.design-selection > nav > ul > li {
    width: 50%; 
    float: left;
    list-style: none;
    border-top: solid 1px;
    border-bottom: solid 0.5px;
    padding: 1.5em 10%;
    box-sizing: border-box;
    background-color: rgb(237, 244, 240);
}

.design-archives > nav > ul > li {
    width: 50%; 
    float: left;
    list-style: none;
    border-top: solid 1px;
    padding: 1.5em 10%;
    box-sizing: border-box;
    background-color: rgb(237, 244, 240);
}

.zen-resources > ul > li {
    width: 50%; 
    float: left;
    list-style: none;
    border-top: solid 1px;
    padding: 1.5em 10%;
    box-sizing: border-box;
    background-color: rgb(138,188,159,0.5);
    background-image: url("bamboo.png");
    color:#134347;
}

.design-selection ul {
    padding: 0px;
    margin: 0px;
}

.design-archives ul {
    padding: 0px;
    margin: 0px;
}

.zen-resources ul {
    padding: 0px;
    margin: 0px;
}

/*a [href="http://www.csszengarden.com/221//"] {
    transition: 0.25s, ease-out;
}

a [href="http://andrewlohman.com/"] {
    font-style: normal;
}

a [href="http://www.csszengarden.com/220/"]{
    transition: 0.25s, ease-out;
}

a [href="http://www.mezzoblue.com/"] {
    font-style: normal;
}*/

